.exercises {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding-block: 2rem 5rem;
	gap: 3rem;
}

.iconBox {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
}

.iconBox img {
	width: 40%;
}
