*,
*::after,
*::before {
	box-sizing: border-box;
}

:root {
	--primary-color: #90da11;
	--secondary-color: #252533;
	--neutral-color: #26262a;
	--bg-color: #16171f;
	--error-color: #da1811;
}

img {
	max-width: 100%;
	display: block;
}

ul {
	list-style: none;
	padding-left: 0;
	margin-top: 0;
	margin-bottom: 0;
}

a {
	text-decoration: none;
	color: inherit;
}

body {
	margin: 0;
	color: aliceblue;
	background-color: #16171f;
	font-family: sans-serif;
	text-align: center;
}

.active {
	filter: brightness(0) invert(79%) sepia(48%) saturate(1663%) hue-rotate(30deg)
		contrast(87%);
}
